---
import PageLayout from '@/layouts/PageLayout.astro'
import { Image } from 'astro:assets'
import { getCollection } from 'astro:content'

const frontmatter = {
  title: 'Photos',
  activeHeaderLink: 'Photos'
}

const photos = await getCollection('photos')
---

<PageLayout {frontmatter}>
  <h1>Photos</h1>

  <p>
    I enjoy hiking and exploring the great outdoors. Here, I want to share some
    of the most stunning views I have come across over the past years. You can
    also find all my photos on
    <a href="https://pixelfed.social/FjellOverflow">Pixelfed</a>.
  </p>

  <div class="grid grid-cols-1 gap-2 sm:grid-cols-2 md:grid-cols-3">
    {
      photos.map((photo) => (
        <div class="group relative aspect-square">
          <Image
            src={photo.data.url}
            title={photo.data.label}
            alt={photo.data.label}
            inferSize
            data-img-embed
            data-action="zoom"
            class="mt-0 mr-0 mb-0 ml-0 h-full w-full rounded-none! border-0! object-cover pb-0"
          />
          <div class="pointer-events-none absolute inset-0 mb-0 flex items-end justify-center bg-black/65 p-2 text-start text-sm text-white opacity-0 transition duration-500 ease-in-out group-hover:opacity-100">
            {photo.data.label}
          </div>
        </div>
      ))
    }
  </div>
</PageLayout>
